{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Create New Customer</p>
            <form action="{% url 'create_customer' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username" class="form-control">
                <input type="email" name="email" placeholder="Email Address" class="form-control">
                <input type="password" name="password1" placeholder="Password" class="form-control">
                <input type="password" name="password2" placeholder="Confirm Password" class="form-control">
                <a class="btn btn-warning" href="{% url 'home' %}">Cancel</a>
                <input class="btn btn-danger" type="submit" name="Confirm">
            </form>
        </div>
    </div>
</div>

{% endblock %}